/* Google Reader Air - Dialogue */

/* resets 
--------------------------------------- */

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
	outline: none;
}

a img {
	border: 0;
}

/* global
--------------------------------------- */

body {
	background: #e8e8e8;
	cursor: default;
	font: 11px/1 "Lucida Grande", Arial;
	padding-bottom: 30px;
	-webkit-user-select: none;
}

input {
	cursor: text;
	-webkit-user-select: text !important;
}

.main {
	padding: 20px;
}

/* form
--------------------------------------- */

table.form {
	display: table;
	width: 100%;
}

.form tr {
	display: table-row;
	width: 100%;
}

.form td {
	display: table-cell;
	padding-bottom: 10px;
	vertical-align: top;
}

.form td.label {
	line-height: 21px;
	padding-right: 5px;
	text-align: right;
	width: 150px;
}

.form input, .form select {
	line-height: 17px;
	width: 100%;
}

select {
	width: 100%;
}

.select-wrap {
	background: white;
	border: 1px solid #999;
}

.select {
	height: 100px;
	line-height: 14px;
	overflow: hidden;
	padding-bottom: 3px;
	text-indent: 2px;
	width: 100%;
}

.select .on {
	background: #6897DA;
	color: white;
}

.edit-buttons {
	height: 20px;
	margin-top: 3px;
	overflow: hidden;
	width: 67px;
}

.edit-buttons a {
	border: 1px solid #999;
	display: block;
	float: left;
}

.edit-buttons img {
	display: block;
}

.edit-buttons a.middle {
	border-width: 1px 0;
}

/* buttons
--------------------------------------- */

.buttons {
	bottom: 20px;
	position: fixed;
	right: 20px;
}

.buttons button:first-child {
	margin-right: 5px;
}

/* prefs
------------------------------------------------------------------------------ */

#nav {
	background: #C6C6C6 url(../img/bg/menubar.png) repeat-x bottom left;
	border-bottom: 1px solid #515151;
	text-align: center;
}

#nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

	#nav a {
		color: black;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
	}

	#nav li {
		float: left;
	}

	#nav li.ui-tabs-selected {
		background: url(../img/icons/prefs-on.png) no-repeat 50% 50%;
	}
	
		#nav li a {
			background-position: 50% 8px;
			background-repeat: no-repeat;
			display: block;
			float: left;
			height: 18px;
			padding-top: 38px;
			width: 70px;
		}
		
		#nav li a:after {
		    content: ".";
		    display: block;
		    height: 0;
		    clear: both;
		    visibility: hidden;
		}

#general-link {background-image: url(../img/icons/prefs-general.png);}
#account-link {background-image: url(../img/icons/prefs-account.png);}
#feeds-link {background-position: 50% 6px !important; background-image: url(../img/icons/prefs-feeds.png);}
#tags-link {background-image: url(../img/icons/prefs-tags.png);}

/* prefs-general ---------------------- */

#check-updates {
	margin-top: 5px;
}

/* loading
------------------------------------------------------------------------------ */

#loading {
	padding: 7px;
}

#loading-bar-outer {
	background-image: url(../img/bg/loading-bg-l.gif), url(../img/bg/loading-bg-r.gif), url(../img/bg/loading-bg.gif);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: top left, top right, top left;
	height: 12px;
	width: 100%;
}

#loading-bar {
	background: url('../img/bg/loadingbar.gif') repeat-x;
	height: 10px;
	width: 100%;
}

#loading-title {
	text-align: center;
	padding-bottom: 5px;
}

.ui-tabs-hide { display: none; }

/* prompt
------------------------------------------------------------------------------ */

#prompt {
	padding: 10px 20px 20px 20px;
}

#prompt td.label {
	text-align: left;
}

