body {
	font: 11px/1 "Lucida Grande", Arial;
}

#item-inner-iframe #head {
	font-family: "Lucida Grande", Arial;
}
	
.bar {
	background: url(/assets/img/themes/macos/back_bar.png) repeat-x 0 0;
	border-top: 1px solid #CECECE;
}

.ifolder {
	background: url(/assets/img/themes/macos/icon_folder.png) no-repeat;
}

#status-bar {
	margin-bottom: -1px;
}

#items-table-head {
	background: url(/assets/img/themes/macos/back_grid_title.png) repeat-x 0 0;
	border-bottom: 1px solid #B4B4B4;
	height: 15px;
	padding-top: 2px;
}

#items-table-inner tr.stripe {
	background-color: #f4f7fa;
}

#items-table-inner tr.selected {
	background: #6897DA;
}

/* forms 
--------------------------------------- */

button {
	background-image: url(/assets/img/themes/macos/button_off_left.png), url(/assets/img/themes/macos/button_off_right.png), url(/assets/img/themes/macos/button_off_middle.png);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: top left, top right, top left;
	border: 0;
	font-weight: normal;
	line-height: 20px;
	padding: 0 20px 2px 20px;	
}

button:hover, button:focus, button:active, button.on {
	background-image: url(/assets/img/themes/macos/button_on_left.png), url(/assets/img/themes/macos/button_on_right.png), url(/assets/img/themes/macos/button_on_middle.png);
}

input {
	background-image: url(/assets/img/themes/macos/input_right.png), url(/assets/img/themes/macos/input_middle.png);
	background-repeat: no-repeat, repeat-x;
	background-position: top right, top left;
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-top: 1px solid #727272;
	line-height: 18px;
}

select {
	width: 100%;
	line-height: 18px;
}

	select:focus {
		outline: none;
		outline-color: red;
	}

.select-wrap {
	background: white;
	border: 1px solid #999;
}

.select {
	height: 100px;
	line-height: 14px;
	overflow: hidden;
	padding-bottom: 3px;
	text-indent: 2px;
	width: 100%;
}

	.select .on {
		background: #6897DA;
		color: white;
	}
	
.jquery-checkbox {
	margin-left: -1px;
}
	
	.jquery-checkbox img{
		background: transparent url(/assets/img/themes/macos/checkbox.png) no-repeat;
	}
	
/* scrollers
--------------------------------------- */
	
.jScrollPaneTrack {
	background: url(/assets/img/themes/macos/scrollbar_track.gif) repeat-y;
}

.jScrollPaneDrag {
	background: url(/assets/img/themes/macos/scrollbar_drag_middle.gif) repeat-y;
}

.jScrollPaneDragTop {
	background: url(/assets/img/themes/macos/scrollbar_drag_top.gif) no-repeat;
}

.jScrollPaneDragBottom {
	background: url(/assets/img/themes/macos/scrollbar_drag_bottom.gif) no-repeat;
}

a.jScrollArrowUp {
	background: url(/assets/img/themes/macos/scrollbar_arrow_up.png) no-repeat 0 -30px;
}

a.jScrollArrowDown {
	background: url(/assets/img/themes/macos/scrollbar_arrow_down.png) no-repeat 0 -30px;
}