/* OS X */

/* forms 
--------------------------------------- */

select {
	line-height: 18px;
}

input {
	background-image: url(../img/osx/input-r.png), url(../img/osx/input-m.png);
	background-repeat: no-repeat, repeat-x;
	background-position: top right, top left;
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-top: 1px solid #727272;
	line-height: 18px;
}

select:focus {
	outline: none;
	outline-color: red;
}

span {

}
