body, select, input, option {
	font: 8pt Tahoma !important;
}

#item-inner-iframe #head {
	font-family: Tahoma;
}

input {
	padding: 3px;
}

.bar {
	background: url(/assets/img/themes/windows/back_bar.png) repeat-x 0 0;
	border-top: 1px solid #959385;
}

.ifolder {
	background: url(/assets/img/themes/windows/icon_folder.png) no-repeat;
}

#items-table-head {
	background: #ebeadb url(/assets/img/themes/windows/back_grid_title.png) repeat-x bottom;
	border-top: 1px solid #ebeadb;
	height: 17px;
}

#items-table-inner tr.stripe {
	background-color: #fcfcfc;
}

#items-table-inner tr.selected {
	background: #316ac5;
}

/* forms 
--------------------------------------- */

button {
	background-image: url(/assets/img/themes/windows/button_off_left.png), url(/assets/img/themes/windows/button_off_right.png), url(/assets/img/themes/windows/button_off_middle.png);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: top left, top right, top left;
	border: 0;
	font-weight: normal;
	line-height: 20px;
	padding: 0 20px 2px 20px;	
}

button:hover, button:focus, button:active, button.on {
	background-image: url(/assets/img/themes/windows/button_on_left.png), url(/assets/img/themes/windows/button_on_right.png), url(/assets/img/themes/windows/button_on_middle.png);
}

input {
	background-color: white;
	border: 1px solid black;
}

.jquery-checkbox {
	margin-left: -2px;
}

	.jquery-checkbox img{
		background: transparent url(/assets/img/themes/windows/checkbox.png) no-repeat;
	}
